<template>
   <div class="content-footer">
      <footer-info-bar></footer-info-bar>
      <footer-component></footer-component>
   </div>
</template>

<script>
import FooterComponent from "./FooterComponent";
import FooterInfoBar from "./FooterInfoBar";

export default {
    components: {FooterComponent, FooterInfoBar},
}
</script>

<style scoped>
   .content-footer {
      background-color: white;
   }
</style>
