<template>
   <article>
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon1" :alt="$t('100% Secure payment')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>100% Secure payment</translate>
                  </h5>
                  <p>
                     <translate>
                        Pay safely and easily with a bank card on the website or invoice.
                     </translate>
                  </p>
               </section>
            </div>
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon2" :alt="$t('High quality')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>High quality</translate>
                  </h5>
                  <p>
                     <translate>Let us take care of the cleaning for you! Safe, easy and affordable!</translate>
                  </p>
               </section>
            </div>
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon3" :alt="$t('Non-binding')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>Non-binding</translate>
                  </h5>
                  <p>
                     <translate>We do not have a binding contract, you can order cleaning with us whenever you want.</translate>
                  </p>
               </section>
            </div>
         </div>
      </div>
   </article>
</template>

<script>
export default {
    data() {
        return {
            icon1: require('@/assets/img/footer/info-bar/shield.svg'),
            icon2: require('@/assets/img/footer/info-bar/thumbs.svg'),
            icon3: require('@/assets/img/footer/info-bar/chain.svg'),
        }
    }
}
</script>

<style lang="scss" scoped>
  section {
    text-align: center;

    img {
      display: block;
      margin: 0 auto 15px;
      height: 50px;
    }
  }
</style>
