<template>
   <div class="container bordered area-selector mt-2">
      <div class="row">
         <div class="col-4">
            <div class="image image-small">
               <img :src="imageSmall" alt="Small"/>
            </div>
         </div>
         <div class="col-4 text-center">
            <div class="image image-medium">
               <img :src="imageMedium" alt="Medium"/>
            </div>
         </div>
         <div class="col-4 text-right">
            <div class="image image-large">
               <img :src="imageLarge" alt="Large"/>
            </div>
         </div>
      </div>

      <div class="area-range">
         <range-input v-model="area" @input="emitInput" :min="min" :max="max"/>
      </div>

      <div class="row">
         <div class="col-4 square-sup-text text-left">{{min}}m</div>
         <div class="col-4 text-center font-weight-bold">
            <span class="square-sup-text d-none d-md-inline">{{area}}m</span>
         </div>
         <div class="col-4 square-sup-text text-right">{{max}}m</div>
      </div>
   </div>
</template>

<script>
import RangeInput from "./RangeInput";

export default {
    components: {RangeInput},

    props: {
        imageSmall: {type: String, required: true},
        imageMedium: {type: String, required: true},
        imageLarge: {type: String, required: true},
        min: {type: Number, default: 1},
        max: {type: Number, required: true},
        value: {type: Number},
    },

    data() {
        return {
            area: this.value
        }
    },

    methods: {
        emitInput() {
            this.$emit('input', this.area);
        },
    },

    watch: {
        value(newArea) {
            this.area = newArea;
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';

   .container.bordered {
      padding: 15px;
      box-shadow: 0 0 1.313em rgba(13, 40, 96, .13);
      border-radius: 1em;

      div.image {
         height: 40px;

         img {
            width: auto;
            height: inherit;
         }
      }
   }

   @include media-breakpoint-down(md) {
      .container.bordered {
         div.image {
            height: 33px;
         }
      }
   }

   @include media-breakpoint-down(xs) {
      .container.bordered {
         div.image {
            height: 23px;
         }
      }
   }
</style>
