<template>
   <fa :icon="icon" @click="toggle()"/>
</template>

<script>
export default {
    props: {value: {type: Boolean, required: true}},

    computed: {
        icon() {
            return this.value ? 'sort-amount-down' : 'sort-amount-up';
        }
    },

    methods: {
        toggle() {
            this.$emit('input', !this.value);
        }
    }
}
</script>
