<template>
   <section class="steps-navigation">
      <div class="container">
         <div class="row">
            <div class="col-2 d-block d-sm-none"/>
            <div class="d-flex justify-content-center col-2 col-sm-3" v-for="(step, index) in steps">
               <router-link tag="div" class="step" :to="step.path">
                  <div class="position-relative">
                     <img :src="step.img" :alt="step.name">
                     <div class="position-absolute dancing-icon animation-bounceIn" v-if="isStepIncomplete(step)">
                        <fa icon="exclamation"/>
                     </div>
                  </div>
                  <p class="d-none d-md-block">
                     {{index+1}}.
                     <translate>{{step.name}}</translate>
                  </p>
               </router-link>
            </div>
         </div>
      </div>
   </section>
</template>

<script>
export default {
    data() {
        return {
            banner: require('@/assets/img/banner.jpg'),
            steps: [
                {
                    name: "Enter location",
                    path: '/',
                    img: require('@/assets/img/steps/location.svg')
                },
                {
                    name: "Select service",
                    path: '/details',
                    img: require('@/assets/img/steps/details.svg')
                },
                {
                    name: "Determine the time",
                    path: '/availability',
                    img: require('@/assets/img/steps/availability.svg')
                },
                {
                    name: "Complete the order",
                    path: '/payment',
                    img: require('@/assets/img/steps/payment.svg')
                },
            ]
        }
    },

    methods: {
        isStepIncomplete(step) {
            return this.$store.getters.incompleteSteps[step.path];
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';

   @include media-breakpoint-down(md) {
      section.steps-navigation .step {
         img:first-child {
            width: 45px;
            height: 45px;
            margin-bottom: 10px;
         }
      }
   }

   section.steps-navigation {
      background-color: white;

      .step {
         float: left;
         cursor: pointer;
         padding: 25px 15px 15px;
         transition: padding-top .4s, background-color .4s;
         text-align: center;
         margin: 0 auto;

         img {
            width: 85px;
            height: 85px;
            margin-bottom: 15px;
         }

         .dancing-icon {
            right: 0;
            bottom: 0;
            color: #d46262;
         }

         p {
            display: block;
            color: #404040;
            font-weight: 700;
            font-size: 17px;
         }

         &.active {
            padding-top: 15px;
            background-color: #f6f6f6;
         }
      }
   }
</style>
