@import "variables";
@import "alerts";
@import "dialogs";
@import "strap";
@import "animations";

body {
  font-family: 'Lato', sans-serif !important;
  background: $background-color;
}

.button-style {
  font-size: 16px;
  border: none;
  height: 45px;
  line-height: 47px;
  color: white;
  background: -webkit-linear-gradient(-45deg, #14a4b4, #0fbaaf);
  background: -moz-linear-gradient(-45deg, #14a4b4, #0fbaaf);
  background: -o-linear-gradient(-45deg, #14a4b4, #0fbaaf);
  background: linear-gradient(-45deg, #14a4b4, #0fbaaf);
  border-radius: 50px;
  box-shadow: 3.216px 10.519px 13px 0 rgba(9, 186, 180, 0.13);
  padding: 0 20px;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.7;
    transition: opacity .3s;
  }

  > svg,
  > span > svg { // Font Awesome specific
    margin-left: 5px;
    margin-right: 5px;
  }

  &.button-multiline {
    height: auto;
    line-height: 20px;
    padding: 10px 20px;
  }
}

.button-style,
.button-unstyled {
  &.click-effect {
    > .effect-group, > span {
      transition: transform .2s;
      display: inline-block;
    }

    &:active {
      background-color: black;

      > .effect-group, > span {
        transform: translateY(2px);
      }
    }
  }
}

img.aspect-ratio {
  width: 100%;
  height: auto;
}

.square-sup-text:after {
  content: '²';
}

textarea + small {
  text-align: right;
  display: block;
  margin-right: 6px;
  margin-top: -2px;
  font-size: 0.7em;
}

.vld-overlay {
  outline: none;
}
