@mixin transition($time, $type) {
  -webkit-transition: all $time $type;
  -moz-transition: all $time $type;
  -o-transition: all $time $type;
  -ms-transition: all $time $type;
  transition: all $time $type;
}

@mixin transform-translate-x($value) {
  -webkit-transform: translate3d($value, 0, 0);
  -moz-transform: translate3d($value, 0, 0);
  -o-transform: translate3d($value, 0, 0);
  -ms-transform: translate3d($value, 0, 0);
  transform: translate3d($value, 0, 0);
}

@mixin shadow-big() {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.14 * 3),
  0 4px 25px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@mixin bottomBorderStyle() {
  padding: 15px;
  box-shadow: 0 0 1.313em rgba(13, 40, 96, .13);
  border-bottom: 3px solid #3abbaf;
  border-radius: 1em;
}
