<template>
   <div class="white-bordered-step-container position-relative" ref="heading">
      <h1 class="h1-availability">
         <translate>Choose suitable time</translate>
      </h1>

      <template v-if="fetchState === 'invalid'">
         <h3 class="mb-3">
            <translate>Attention</translate>
         </h3>

         <p>
            <translate v-if="!isLocationAvailable">To see the available dates, fill in the address in the first step.</translate>
            <translate v-if="!isDetailsValid">To see the available dates, fill in the equipment details in the first step.</translate>
         </p>

         <router-link tag="button" class="button-style click-effect" to="/">
            <span class="effect-group">
               <fa icon="arrow-left"/>
               <translate>Go to the first step</translate>
            </span>
         </router-link>
      </template>

      <template v-else-if="fetchState === 'success'">
         <template v-if="noDatesAvailable">
            <h3 class="text-center mb-4">
               <translate>Unfortunately, we do not work in your area yet.</translate>
            </h3>

            <div class="empty-calendar mb-4"></div>

            <p class="mb-4">
               <translate text="key.availability.notificationPrompt"/>
            </p>

            <availability-subscriber/>
         </template>
         <template v-else>
            <h3 class="text-center mb-3">
               <translate class-name="semicolon-after" text="Select the desired date and time below"/>
            </h3>

            <swiping-hand/>

            <hour-pick-calendar :length="timeUnits" :days="days" @input="selectDate"/>

            <radio-buttons-field-set
                v-if="serviceType === 'standard'"
                :options="options"
                v-model="frequency"
                initial="never"/>
         </template>
      </template>

      <template v-else-if="fetchState === 'fetching'">
         <h3 class="mb-3">
            <translate text="Please, wait... We are now looking for free hours for you."/>
         </h3>

         <loading-overlay :active="true" :is-full-page="false" color="#14a4b4"/>
      </template>

      <template v-else-if="fetchState === 'error'">
         <h3 class="mb-3">
            <translate>Attention</translate>
         </h3>
         <p class="mt-3">
            <translate>An error occurred while loading hours. Check your internet connection and try again.</translate>
         </p>

         <button class="button-style click-effect" @click="fetchHours">
            <span class="effect-group">
               <fa icon="redo"/>
               Try again
            </span>
         </button>
      </template>
   </div>
</template>

<script>
import RadioButtonsFieldSet from './Availability/RadioButtonsFieldSet';
import HourPickCalendar from './Availability/HourPickCalendar';
import SwipingHand from './Availability/SwipingHand';
import AvailabilitySubscriber from './Availability/AvailabilitySubscriber';

import LoadingOverlay from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

function groupBy(input, key, groups) {
    return input.reduce((output, next) => {
        const el = output.find((r) => r && r[key] === next[key]);
        if (el) {
            el[groups].push(next);
        } else {
            output.push({
                [key]: next[key],
                [groups]: [next]
            });
        }
        return output;
    }, []);
}

export default {
    components: {RadioButtonsFieldSet, HourPickCalendar, LoadingOverlay, AvailabilitySubscriber, SwipingHand},

    data() {
        return {
            fetchState: 'invalid',
            days: [],

            timeUnits: Math.max(1, Math.ceil(this.$store.getters.timeInMinutes / 30.0)),

            frequency: this.$store.state.repetition,
            options: {
                never: 'Only once',
                week: 'Every week',
                '2week': 'Twice a week',
                month: 'Every month',
            }
        }
    },

    mounted() {
        this.fetchHours();
        this.$refs.heading.scrollIntoView();
    },

    methods: {
        selectDate(date) {
            this.$store.commit('date', {
                date: date.date,
                text: date.text,
                employee_id: date.employee_id,
            });
        },

        datesLoaded(days) {
            this.days = groupBy(days, 'date', 'hours').map(day => ({
                date: day.date,
                hours: day.hours
            }));
        },

        fetchHours() {
            if (!this.isLocationAvailable) {
                return;
            }
            if (!this.isDetailsValid) {
                return;
            }
            this.fetchState = 'fetching';
            this.$store.dispatch('fetchHours', {equipment: this.$store.state.equipment})
                .then(({days}) => {
                    this.fetchState = 'success';
                    this.datesLoaded(days);
                })
                .catch(() => {
                    this.fetchState = 'error';
                    this.$notify({
                        message: this.$t('An error occurred while loading hours. Check your internet connection and try again.'),
                        type: 'danger'
                    });
                });
        }
    },

    computed: {
        isLocationAvailable() {
            return this.$store.getters.isLocationAvailable;
        },

        isDetailsValid() {
            return this.$store.getters.stepDetailsValid;
        },

        serviceType() {
            return this.$store.state.type;
        },

        noDatesAvailable() {
            return this.days.length === 0;
        }
    },

    watch: {
        frequency(repetition) {
            this.$store.commit('repetition', {repetition});
        }
    },
}
</script>

<style lang="scss">
   .vld-parent {
      padding: 25px 0;

      h3 {
         margin: 0;
      }

      .vld-overlay {
         outline: none; // <loading-overlay/> style
      }
   }

   .empty-calendar {
      background-image: url('~@/assets/img/steps/step-availability/empty-calendar.png');
      width: 143px;
      height: 109px;
      margin: 0 auto;
   }
</style>
