<template>
   <div class="white-bordered-step-container">
      <h1 class="h1-details">
         <translate>Select service</translate>
      </h1>
      <h3>
         <translate>What service should we provide?</translate>
      </h3>

      <type-selector v-model="type"/>

      <template v-if="['standard', 'extra'].includes(type)">
         <h3 class="mt-3 mt-md-5">
            <translate text="Determine the area"/>
         </h3>
         <apartment-area-selector v-if="type === 'standard'" v-model="serviceAreaStandard"/>
         <apartment-area-selector v-if="type === 'extra'" v-model="serviceAreaExtra"/>
      </template>

      <template v-if="type === 'standard'">
         <time-correction v-model="correction" :base="standardTime"/>
         <standard-service-information/>
      </template>
      <template v-if="type === 'extra'">
         <second-step-service-information/>
      </template>

      <template v-if="type === 'carpet'">
         <h3 class="mt-3 mt-md-5">
            <translate text="Select the size of the carpet"/>
         </h3>
         <carpet-area-selector v-model="carpetSize"/>
      </template>

      <div v-if="type === 'standard'" class="additional-options-selector mt-5">
         <h3>
            <translate>Select additional services</translate>
         </h3>
         <options-selector key="standard" :options="optionsStandard" @input="v=>updateStandard(v)"/>
      </div>

      <div v-show="type === 'standard'">
         <cleaning-products/>
      </div>

      <template v-if="type === 'extra'">
         <service-extra-contact-form v-if="$store.getters.toBeContactedPersonally"/>

         <div v-else class="additional-options-selector mt-5">
            <constant-service-list/>

            <h3>
               <translate>Select additional services</translate>
            </h3>

            <options-selector key="extra" :options="optionsExtra" @input="v=>updateExtra(v)"/>
         </div>
      </template>
   </div>
</template>

<script>
import TypeSelector from './Details/TypeSelector';
import ApartmentAreaSelector from './Details/AreaSelector/ApartmentAreaSelector';
import CarpetAreaSelector from './Details/AreaSelector/CarpetAreaSelector';
import StandardServiceInformation from "./Details/StandardServiceInformation";
import ServiceExtraContactForm from "./Details/ServiceExtraContactForm";
import TimeCorrection from "./Details/TimeCorrection";
import ConstantServiceList from "./Details/ConstantServiceList";
import OptionsSelector from "./Details/OptionsSelector";
import CleaningProducts from "./Details/CleaningProducts";
import SecondStepServiceInformation from "@/pages/Form/Steps/Details/SecondStepServiceInformation";

const optionsStandard = [
    {
        id: 6,
        title: "Window Cleaning",
        subtext: "The price is based on a standard window size",
        price: 40,
        time: 10,
        icon: require('@/assets/img/steps/step-details/additional/windows.png'),
        maxAmount: 15,
        forType: 'standard',
    },
    {
        id: 7,
        title: "Linen Change",
        subtext: "Vacuuming of mattresses and linen change",
        price: 35,
        time: 10,
        icon: require('@/assets/img/steps/step-details/additional/linen.png'),
        maxAmount: 3,
        forType: 'standard',
    },
    {
        id: 8,
        title: "Waste containers",
        subtext: "Emptying and washing to remove odor",
        price: 55,
        time: 15,
        icon: require('@/assets/img/steps/step-details/additional/waste.png'),
        maxAmount: 2,
        forType: 'standard',
    },
    {
        id: 10,
        title: "Appliances",
        subtext: "Washing the oven, refrigerator, etc. (Price per pcs.)",
        price: 195,
        time: 30,
        icon: require('@/assets/img/steps/step-details/additional/appliances.png'),
        maxAmount: 3,
        forType: 'standard',
    },
    {
        id: 29,
        title: "Kitchen Fronts",
        subtext: "Washing of kitchen fronts - exterior and interior",
        price: 390,
        time: 60,
        icon: require('@/assets/img/steps/step-details/additional/kitchen.fronts.png'),
        maxAmount: 2,
        forType: 'standard',
    },
    {
        id: 5,
        title: "Ironing",
        subtext: "Choose how many clothes you need:",
        price: 45,
        time: 10,
        tooltip: 'By choosing this service the customer should prepare an iron and ironing board.',
        icon: require('@/assets/img/steps/step-details/additional/ironing.png'),
        maxAmount: 15,
        forType: 'standard',
    },
    {
        id: 9,
        title: "Stoves / Fireplaces",
        subtext: "Oven door is washed, ash trays are emptied",
        price: 195,
        time: 25,
        icon: require('@/assets/img/steps/step-details/additional/stoves.png'),
        maxAmount: 2,
        forType: 'standard',
    },
];
const optionsExtra = [
    {
        id: 28,
        title: "Appliances",
        subtext: "Washing the oven, refrigerator, etc. (Price per pcs.)",
        price: 285,
        time: 30,
        icon: require('@/assets/img/steps/step-details/additional/appliances.png'),
        maxAmount: 5,
        forType: 'extra'
    },
    {
        id: 30,
        title: "Wardrobe",
        subtext: "Cleaning inside the wardrobe",
        price: 285,
        time: 30,
        icon: require('@/assets/img/steps/step-details/additional/wardrobe.png'),
        maxAmount: 5,
        forType: 'extra'
    },
    {
        id: 15,
        title: "Blinds",
        subtext: "Cleaning dust with brush (Price per pcs.)",
        price: 150,
        time: 10,
        icon: require('@/assets/img/steps/step-details/additional/blinds.png'),
        maxAmount: 15,
        forType: 'extra'
    },
];

export default {
    components: {
        TimeCorrection, TypeSelector,
        ApartmentAreaSelector, CarpetAreaSelector,
        StandardServiceInformation,
        SecondStepServiceInformation,
        ServiceExtraContactForm,
        OptionsSelector,
        ConstantServiceList,
        CleaningProducts
    },

    data() {
        return {
            type: this.$store.state.type,
            serviceAreaStandard: this.$store.state.serviceAreaStandard,
            serviceAreaExtra: this.$store.state.serviceAreaExtra,
            carpetSize: this.$store.state.carpetArea,
        }
    },

    methods: {
        updateStandard(options) {
            this.$store.commit('additionalService', {forType: "standard", options});
        },
        updateExtra(options) {
            this.$store.commit('additionalService', {forType: "extra", options});
        },
        mapFromVuex(forType, options) {
            return options.map(option => {
                let from = this.$store.state.additionalServices[forType].find(({id}) => id === option.id);
                if (from) {
                    return {...option, count: from.count};
                }
                return {...option, count: 0};
            })
        }
    },

    computed: {
        optionsStandard() {
            return this.mapFromVuex("standard", optionsStandard);
        },
        optionsExtra() {
            return this.mapFromVuex("extra", optionsExtra);
        },
        standardTime() {
            return this.$store.getters.floorTime;
        },
        correction: {
            get() {
                return this.$store.getters.timeCorrection;
            },
            set(correction) {
                this.$store.commit('timeCorrection', {correction});
            }
        },
    },

    watch: {
        type() {
            this.$store.commit('serviceType', {type: this.type});
            this.$store
                .dispatch('fetchServiceType', {type: this.type})
                .catch(() => {
                    this.$notify({
                        message: this.$t("An error occurred while loading data. Check your internet connection and try again."),
                        type: "danger" // "", "info", "success", "warning", "danger"
                    });
                });
        },
        serviceAreaStandard() {
            this.$store.commit('serviceAreaStandard', {area: this.serviceAreaStandard});
        },
        serviceAreaExtra() {
            this.$store.commit('serviceAreaExtra', {area: this.serviceAreaExtra});
        },
        carpetSize() {
            this.$store.commit('carpetArea', {area: this.carpetSize});
        }
    }
}
</script>
