<template>
   <div>
      <div class="google-maps-component">
         <label class="label-style">
            <translate>Street name</translate>
         </label>
         <gmap-autocomplete :value="autocompleteValue" @input="emitAutocompleteValue" @place_changed="onAutocompletePlaceChanged"/>

         <gmap-map ref="map" :center="mapCenter" :zoom="12" :options="options" style="height:430px;">
            <gmap-marker v-if="markerPosition" :position="markerPosition" :draggable="true" @dragend="onMarkerMove"/>
         </gmap-map>
      </div>
   </div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps';

function filterCountry(results) {
    return results.find(result => result.types.includes("country"));
}

function getCountry(results) {
    let result = filterCountry(results);
    if (result) {
        let country = result.address_components[0];
        if (country) {
            return {
                name: country.long_name,
                code: country.short_name
            };
        }
    }
    return undefined;
}

function getCountryNextLevel(results) {
    let country = filterCountry(results.address_components);
    if (country) {
        return {
            name: country.long_name,
            code: country.short_name
        };
    }
    return undefined;
}

export default {
    props: {
        initialLocation: {required: true},
        defaultLocation: {required: true},
        autocomplete: {type: String, required: true}
    },

    computed: {
        google: gmapApi
    },

    data() {
        return {
            options: {
                zoomControl: true,
                fullscreenControl: true,
                mapTypeControl: true,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                disableDefaultUi: false
            },
            markerPosition: this.initialLocation,
            mapCenter: this.initialLocation || this.defaultLocation.location,
            autocompleteValue: this.autocomplete
        };
    },

    mounted: function () {
        if (this.initialLocation) {
            return;
        }

        const startingPoint = (position, origin) => {
            this.setMarkerPosition(position);
            this.$refs.map.$mapPromise.then((map) => {
                this.emitGeocodeCountryByPosition(position, origin);
            });
        };

        navigator.geolocation.getCurrentPosition(
                ({coords}) => startingPoint({lat: coords.latitude, lng: coords.longitude}, 'geocode'),
                error => startingPoint(this.defaultLocation.location, this.defaultLocation.origin),
                {enableHighAccuracy: true}
        );
    },

    methods: {
        emitAutocompleteValue({target}) {
            this.$emit('update:autocomplete', target.value);
        },
        onAutocompletePlaceChanged(place) {
            let name = place.formatted_address;
            this.autocompleteValue = name;
            this.$emit('update:autocomplete', name);
            if (!place.geometry) {
                this.$notify({message: this.$t('key.google.autocomplete.insufficient') + `:<br> "${name}"`, type: "warning"});
                return;
            }
            let location = {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
            };
            this.setMarkerPosition(location);
            this.$emit('geocode', {country: getCountryNextLevel(place), location, origin: 'autocomplete'});
        },

        setMarkerPosition(position) {
            this.markerPosition = position;
            this.mapCenter = position;
            this.$emit('input', position);
        },

        onMarkerMove(marker) {
            let position = {
                lat: marker.latLng.lat(),
                lng: marker.latLng.lng(),
            };
            this.emitGeocodeCountryByPosition(position, 'explicit');
            this.$emit('input', position);
        },

        emitGeocodeCountryByPosition(location, origin) {
            const geoCoder = new this.google.maps.Geocoder();
            geoCoder.geocode({location}, (results, status) => {
                if (status === 'OK') {
                    this.$emit('geocode', {country: getCountry(results), location, origin});
                    if (results[0]) {
                        this.google.maps.event.trigger(this.$refs.map, 'places_changed');
                        this.autocompleteValue = results[0].formatted_address;
                        this.$emit('update:autocomplete', results[0].formatted_address);
                    }
                } else if (status === 'ZERO_RESULTS') {
                    this.$emit('geocode', {country: undefined, location, origin});
                } else {
                    console.error(status);
                }
            });
        }
    }
};
</script>

<style lang="scss">
   .google-maps-component {
      label {
         margin-bottom: 0;
      }

      input {
         width: 100%;
         border: none;
         border-bottom: 1px solid rgba(0, 0, 0, .12);
         display: block;
         padding: 2px 8px;
         font-size: 16px;
         margin-bottom: 15px;
      }
   }
</style>
