<template>
   <div class="d-flex">
      <img :src="avatar" alt="User picture">
      <div class="comment">
         <p>{{text}}</p>
         <small>{{author}}</small>
      </div>
   </div>
</template>

<script>
export default {
    props: {
        avatar: {type: String, required: true},
        text: {type: String, required: true},
        author: {type: String, required: true},
    },
}
</script>

<style lang="scss" scoped>
   img {
      border-radius: 100px;
      height: 50px;
      margin-right: 13px;
   }

   .comment {
      padding-left: 13px;
      border-left: 2px solid #12dbd4;
      text-align: center;
      width: 100%;

      p {
         font-style: italic;
         margin-bottom: 0.2rem;
         height: 100px;
         overflow: hidden;

         &:before,
         &:after {
            content: '"';
         }
      }

      small {
         font-style: italic;
      }
   }
</style>
