<template>
   <div class="container mt-2">
      <div class="row mt-4 constant-height-row-129">
         <div class="col-sm-6 col-12 mb-4 mb-sm-0" @click="select('missing')">
            <div class="type type-missing" :class="active('missing')">
               <div class="badge" v-if="badgePrice">
                  {{badgePrice}} NOK
               </div>
               <translate>I have no cleaning products</translate>
            </div>
         </div>

         <div class="col-sm-6 col-12" @click="select('present')">
            <div class="type type-present" :class="active('present')">
               <translate>I have cleaning products</translate>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
export default {
    props: {
        value: {default: null, validator: type => [null, 'missing', 'present'].includes(type)},
        badgePrice: {},
    },

    data() {
        return {
            selectedType: this.value
        }
    },

    methods: {
        select(type) {
            this.selectedType = type;
            this.$emit('input', type);
        },

        active(type) {
            return {active: type === this.selectedType};
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';
   @import '~@/assets/scss/variables';

   @include media-breakpoint-down(md) {
      .constant-height-row-129 {
         .type img {
            height: 45px;
         }
      }
   }

   @include media-breakpoint-down(xs) {
      div.constant-height-row-129 {
         height: auto;

         .type {
            transition: none;
         }
      }
   }

   .constant-height-row-129 {
      height: 129px;

      .type {
         margin-top: 0;
         transition: margin-top .3s;

         &.active {
            margin-top: -5px;
         }
      }
   }

   .type {
      opacity: 0.5;
      transition: opacity 0.3s;
      cursor: pointer;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) 5px -6px 22px;
      border-radius: 10px;
      background-color: rgb(246, 247, 249);
      border-bottom: 3px solid rgb(58, 187, 175);
      position: relative;
      overflow: hidden;

      &:before {
         content: '';
         display: block;
         background-repeat: no-repeat;
         background-position: center;
         height: 70px;
         background-size: 45px;
      }

      .badge {
         position: absolute;
         right: -3px;
         top: -3px;
         padding: 7px 8px 3px 5px;
         color: white;
         background-color: $domainGreen;
         font-size: 1.0em;
      }

      &.type-present:before {
         background-image: url("../assets/img/steps/step-details/equip-present.svg");
      }

      &.type-missing:before {
         background-image: url("../assets/img/steps/step-details/equip-missing.svg");
      }

      &.active {
         opacity: 1;
      }

      img {
         margin-top: 10px;
      }

      span {
         display: block;
         background-color: $background-color;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         padding: 2px 4px 10px;
         line-height: 16px;
      }
   }
</style>
