<template>
   <div class="container mt-2">
      <div class="row mt-4 constant-height-row-129">
         <div class="col-sm-4 col-12 mb-4 mb-sm-0" @click="select('stripe')">
            <div class="type type-stripe" :class="active('stripe')">
               <translate>Pay with a credit card</translate>
            </div>
         </div>

         <div class="col-sm-4 col-12 mb-4 mb-sm-0" @click="select('paypal')">
            <div class="type type-paypal" :class="active('paypal')">
               <translate>Pay with PayPal</translate>
            </div>
         </div>

         <div class="col-sm-4 col-12 mb-4 mb-sm-0" @click="select('invoice')">
            <div class="type type-invoice" :class="active('invoice')">
               <translate>Invoice payment</translate>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
export default {
    props: {
        value: {default: null, validator: type => [null, 'stripe', 'paypal', 'invoice'].includes(type)}
    },

    data() {
        return {
            selectedType: this.value
        }
    },

    methods: {
        select(type) {
            this.selectedType = type;
            this.$emit('input', type);
        },

        active(type) {
            return {active: type === this.selectedType};
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';
   @import '~@/assets/scss/variables';

   @include media-breakpoint-down(md) {
      .constant-height-row-129 {
         .type img {
            height: 45px;
         }
      }
   }

   @include media-breakpoint-down(xs) {
      div.constant-height-row-129 {
         height: auto;

         .type {
            transition: none;
         }
      }
   }

   .constant-height-row-129 {
      height: 129px;

      .type {
         margin-top: 0;
         transition: margin-top .3s;

         &.active {
            margin-top: -5px;
         }
      }
   }

   .type {
      opacity: 0.5;
      transition: opacity 0.3s;
      cursor: pointer;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) 5px -6px 22px;
      border-radius: 10px;
      background-color: rgb(246, 247, 249);
      border-bottom: 3px solid rgb(58, 187, 175);

      &:before {
         content: '';
         display: block;
         background-repeat: no-repeat;
         background-position: center;
         height: 70px;
      }

      &.type-paypal:before {
         background-image: url("../assets/img/steps/step-payment/paypal.png");
      }

      &.type-stripe:before {
         background-image: url("../assets/img/steps/step-payment/payment-with-cards.png");
         background-size: 145px;
      }

      &.type-invoice:before {
         background-image: url("../assets/img/steps/step-payment/invoice.svg");
         background-size: 50px;
      }

      &.active {
         opacity: 1;
      }

      img {
         margin-top: 10px;
      }

      span {
         display: block;
         background-color: $background-color;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         padding: 2px 4px 10px;
         line-height: 16px;
      }
   }
</style>
