<template>
   <div class="d-none" ref="element">
   </div>
</template>

<script>
export default {
    mounted() {
        window.removeEventListener('scroll', this.handleScroll);
        window.addEventListener('scroll', this.handleScroll);
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll);
    },

    methods: {
        handleScroll() {
            this.$emit('scroll', window.scrollY);
        }
    }
}
</script>
