<template>
   <div class="toggle" @click="toggle" :title="title">
      <fa icon="bars"/>
   </div>
</template>

<script>
export default {
    props: {
        state: {type: Boolean, required: true}
    },

    methods: {
        toggle() {
            this.$emit('click', !this.state);
        }
    },

    computed: {
        title() {
            if (this.state) {
                return this.$t('Hide menu');
            }
            return this.$t('Show menu');
        }
    }
}
</script>

<style lang="scss" scoped>
   .toggle {
      cursor: pointer;
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 20px;
      color: inherit;
      line-height: 50px;

      &:hover {
         background-color: #e5e5e52e;
      }
   }
</style>
