<template>
   <div class="base-timer">
      <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
         <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
            <path
                :stroke-dasharray="circleDasharray"
                class="base-timer__path-remaining"
                :class="remainingPathColor"
                d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
            ></path>
         </g>
      </svg>
      <span class="base-timer__label">{{formattedTimeLeft}}</span>
   </div>
</template>

<script>
const FULL_DASH_ARRAY = 283;

const COLOR_CODES = {
    info: {color: "green"},
    warning: {color: "orange", threshold: 10},
    alert: {color: "red", threshold: 5}
};

function formatTime(minutes, seconds) {
    if (seconds < 10) {
        return `${minutes}:0${seconds}`;
    }
    return `${minutes}:${seconds}`;
}

export default {
    props: {
        duration: {required: true, type: Number},
        timerStart: {required: true, type: Number}
    },

    data() {
        return {
            timePassed: this.calcTimePassed(),
            timerInterval: null
        };
    },

    computed: {
        circleDasharray() {
            return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 283`;
        },

        formattedTimeLeft() {
            const timeLeft = this.timeLeft;
            return formatTime(Math.floor(timeLeft / 60), timeLeft % 60);
        },

        timeLeft() {
            return this.duration - this.timePassed;
        },

        timeFraction() {
            const rawTimeFraction = this.timeLeft / this.duration;
            return rawTimeFraction - (1 / this.duration) * (1 - rawTimeFraction);
        },

        remainingPathColor() {
            const {alert, warning, info} = COLOR_CODES;
            if (this.timeLeft <= alert.threshold) {
                return alert.color;
            }
            if (this.timeLeft <= warning.threshold) {
                return warning.color;
            }
            return info.color;
        }
    },

    watch: {
        timeLeft(newValue) {
            if (newValue === 0) {
                this.onTimesUp();
            }
        }
    },

    mounted() {
        this.tick();
        clearInterval(this.timerInterval);
        this.timerInterval = setInterval(() => this.tick(), 1000);
    },

    destroyed() {
        clearInterval(this.timerInterval);
    },

    methods: {
        tick() {
            this.timePassed = this.calcTimePassed();
        },
        calcTimePassed() {
            return Math.floor((new Date().getTime() - this.timerStart) / 1000);
        },
        onTimesUp() {
            clearInterval(this.timerInterval);
            this.$emit('timesUp');
        },
    }
};
</script>

<style scoped lang="scss">
   $width: 80px;
   $height: $width;
   $font-size: 21px;

   .base-timer {
      position: relative;
      width: $width;
      height: $height;

      &__svg {
         transform: scaleX(-1);
      }

      &__circle {
         fill: none;
         stroke: none;
      }

      &__path-elapsed {
         stroke-width: 7px;
         stroke: grey;
      }

      &__path-remaining {
         stroke-width: 7px;
         stroke-linecap: round;
         transform: rotate(90deg);
         transform-origin: center;
         transition: 0.5s linear all;
         fill-rule: nonzero;
         stroke: currentColor;

         &.green {
            color: rgb(65, 184, 131);
         }

         &.orange {
            color: orange;
         }

         &.red {
            color: red;
         }
      }

      &__label {
         position: absolute;
         width: $width;
         height: $height;
         top: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: $font-size;
      }
   }
</style>
