<template>
   <form>
      <radio-button
            v-for="(title, name) in options"
            :key="name"
            :title="$t(title)"
            :radioValue="name"
            v-model="model"
            @input="onInput"/>
   </form>
</template>

<script>
import RadioButton from './RadioButton';

export default {
    components: {RadioButton},

    props: {
        initial: {type: String, required: true},
        options: {type: Object, required: true},
        value: {type: String, default: null}
    },

    data() {
        return {
            model: this.value
        }
    },

    methods: {
        onInput(value) {
            this.$emit('input', value);
        }
    }
}
</script>
