<template>
   <div class="placeholder">
      <div class="hand">
         <div class="icon">
            <fa :icon="['far', 'hand-pointer']"/>
         </div>
      </div>
      <p>
         <translate text="key.swipe.upper"/>
         <br>
         <translate text="key.swipe.lower"/>
      </p>
   </div>
</template>

<style lang="scss" scoped>
   @import 'src/assets/scss/bootstrap.scss';

   $transform: translateX(-50%);
   $opacity: 0.5;

   .placeholder {
      pointer-events: none;
      opacity: 0.7;
      overflow: visible;
      height: 0;
      animation: fadeInOut 6s ease-out both;

      .hand {
         .icon {
            width: 112px;
            height: 128px;

            svg {
               transform-origin: 0 0;
               transform: scale(8);
            }
         }

         position: absolute;
         top: 35%;
         left: 50%;
         display: flex;
         flex-direction: column;
         align-items: center;

         transform: translateY(40%) $transform;
         animation: swipe 6s ease-out both;
      }

      p {
         font-weight: bold;
         font-size: 26px;
         text-align: center;
         white-space: nowrap;
         padding-top: 135px;
      }
   }

   @include media-breakpoint-down(sm) {
      .hand {
         position: fixed;
      }
   }

   @keyframes swipe {
      from {
         left: 50%;
      }
      12% {
         left: 50%;
         transform: rotate(0deg) translateY(40%) $transform;
      }
      22% {
         left: 80%;
         transform: rotate(10deg) translateY(-40%) $transform;
      }
      60% {
         left: 30%;
         transform: rotate(-10deg) translateY(-40%) $transform;
      }
      to {
         left: 30%;
         transform: rotate(-10deg) translateY(-40%) $transform;
      }
   }

   @keyframes fadeInOut {
      from {
         opacity: 0;
      }
      12% {
         opacity: $opacity;
      }
      60% {
         opacity: $opacity;
      }
      to {
         opacity: 0;
      }
   }
</style>
