<template>
   <div class="mt-3">
      <h3>
         <translate>
            Choose, if you have cleaning products and cleaning equipment
         </translate>
      </h3>
      <equipment-selector :value="$store.state.equipment" :badge-price="$store.state.equipmentPrice" @input="input"/>
   </div>
</template>

<script>
import EquipmentSelector from "@/components/EquipmentSelector";

export default {
    components: {EquipmentSelector},

    methods: {
        input(value) {
            this.$store.commit('equipment', {equipment: value});
        }
    }
}
</script>
