<template>
   <div>
      <h3>
         <translate>Standard cleanup after moving includes</translate>
      </h3>

      <div class="d-flex p-2 service" v-for="service in services">
         <div class="service-icon">
            <img :src="service.icon" :alt="$t(service.subtitle)" class="service-icon"/>
         </div>

         <div class="service-title">
            <b>
               <translate :text="service.title"/>
            </b>
            <p class="m-0">
               <translate :text="service.subtitle"/>
            </p>
         </div>
      </div>
   </div>
</template>

<script>
export default {
    data() {
        return {
            services: [
                {
                    title: 'Doors',
                    subtitle: 'Washing of doors and moldings',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/door.png')
                },
                {
                    title: 'Windows',
                    subtitle: 'Window cleaning, exterior and interior',
                    icon: require('@/assets/img/steps/step-details/additional/windows.png'),
                },
                {
                    title: 'Floor',
                    subtitle: 'Cleaning all floors',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/floor.png')
                },
                {
                    title: 'Kitchen',
                    subtitle: 'Kitchen interior, inside and outside sink',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/kitchen.png')
                },
                {
                    title: 'Cooker hood',
                    subtitle: 'Cleaning the fan in the kitchen',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/cooker.hood.png')
                },
                {
                    title: 'Drains',
                    subtitle: 'Cleaning the drain',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/drains.png')
                },
                {
                    title: 'Bathroom',
                    subtitle: 'Toilet, bath, shower and under tub',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/bathroom.png')
                },
                {
                    title: 'Cabinets and drawers',
                    subtitle: 'Interior and exterior wash',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/drawers.png')
                },
                {
                    title: 'Fixtures',
                    subtitle: 'Cleaning all lamps / luminaires',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/fixtures.png')
                },
                {
                    title: 'Roofs and walls',
                    subtitle: 'Wall and ceiling vacuumed',
                    icon: require('@/assets/img/steps/step-details/additional/after-move/walls.png')
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
   .service {
      div.service-icon {
         align-self: center;
         display: flex;

         img.service-icon {
            max-width: 40px;
            margin-right: 15px;
            height: auto;
            align-self: center;
         }
      }

      div.service-title {
         align-self: center;;
      }

      &:not(:last-child) {
         border-bottom: 1px solid #dee2e6;
      }
   }
</style>