<template>
   <div class="button not-selectable">
      <div :class="{disabled: value >= max}"
           class="icon icon-up"
           @click="add(1)"
           @mousedown="startCounting(+1)"
           @mouseup="stopCounting()"
           @mouseleave="stopCounting()">
         <fa icon="chevron-up"/>
      </div>

      <span :class="{active: value > 0}" v-text="value"/>

      <div :class="{disabled: value <= min}"
           class="icon icon-down"
           @click="add(-1)"
           @mousedown="startCounting(-1)"
           @mouseup="stopCounting()"
           @mouseleave="stopCounting()">
         <fa icon="chevron-up"/>
      </div>
   </div>
</template>

<script>
import Counter from './Counter';

export default {
    props: {
        value: {type: Number, default: 0},
        min: {type: Number, default: 0},
        max: {type: Number, default: 99},
    },

    data() {
        return {
            counter: new Counter(this.min, this.max, this.add)
        }
    },

    methods: {
        add(inc) {
            this.$emit('input', Math.min(Math.max(this.value + inc, this.min), this.max));
        },

        startCounting(inc) {
            this.counter.startCounting(inc);
        },
        stopCounting() {
            this.counter.stopCounting();
        }
    }
}
</script>

<style lang="scss" scoped>
   $size: 40px;
   $height: 54px;

   .button {
      width: $size;
      height: $height;
      cursor: default;
      position: relative;

      span {
         display: inline-block;
         line-height: $height - 2px;
         margin-top: 2px;
         width: 100%;
         font-size: 1.2em;
         font-weight: 100;
         text-align: center;
         cursor: default;

         &.active {
            color: #13acb3;
            font-weight: bold;
         }
      }

      .icon {
         color: #e8e8e8;
         position: absolute;
         width: $size;
         display: flex;
         justify-content: center;
         transition: transform .2s;

         $offset: -4px;

         &.icon-up {
            top: $offset;
            left: 0;
         }

         &.icon-down {
            bottom: $offset;
            transform: rotate(180deg);
         }

         &:not(.disabled) {
            color: darkgrey;
            cursor: pointer;

            &.icon-up {
               &:active {
                  transform: translateY(2px);
               }
            }

            &.icon-down {
               &:active {
                  transform: rotate(180deg) translateY(2px);
               }
            }
         }
      }
   }
</style>
