<template>
   <div class="additional-options-selector mt-5">
      <h3>
         <translate>Select additional services</translate>
      </h3>

      <options-selector :options="options"/>
   </div>
</template>

<script>
import OptionsSelector from "./OptionsSelector";

export default {
    components: {OptionsSelector},

    props: {
        value: {required: true, type: Object}
    },

    data() {
        return {
            options: [
                {
                    id: 6,
                    title: "Window Cleaning",
                    subtext: "The price is based on a standard window size",
                    price: 40,
                    time: 10,
                    icon: require('@/assets/img/steps/step-details/additional/windows.png'),
                    maxAmount: 15,
                    forType: 'gloves',
                },
                {
                    id: 10,
                    title: "Appliances",
                    subtext: "Washing the oven, refrigerator, etc. (Price per pcs.)",
                    price: 195,
                    time: 30,
                    icon: require('@/assets/img/steps/step-details/additional/appliances.png'),
                    maxAmount: 3,
                    forType: 'gloves',
                },
                {
                    id: 29,
                    title: "Kitchen Fronts",
                    subtext: "Washing of kitchen fronts - exterior and interior",
                    price: 390,
                    time: 60,
                    icon: require('@/assets/img/steps/step-details/additional/kitchen.fronts.png'),
                    maxAmount: 2,
                    forType: 'gloves',
                },
                {
                    id: 9,
                    title: "Stoves / Fireplaces",
                    subtext: "Oven door is washed, ash trays are emptied",
                    price: 195,
                    time: 25,
                    icon: require('@/assets/img/steps/step-details/additional/stoves.png'),
                    maxAmount: 2,
                    forType: 'gloves',
                },
            ]
        }
    },
}
</script>
