<template>
   <ul class="mt-2 options-selector">
      <li v-for="option in options" class="container">
         <div class="row">
            <option-selector
                  :title="option.title"
                  :subtext="option.subtext"
                  :price="option.price"
                  :time="option.time"
                  :max-amount="option.maxAmount"
                  :icon="option.icon"
                  :value="countById(option.id)"
                  @input="newValue => updateCount(newValue, option)"
            />
         </div>
      </li>
   </ul>
</template>

<script>
import OptionSelector from "./OptionSelector";

export default {
    components: {OptionSelector},

    props: {
        options: {required: true, type: Array},
    },

    data() {
        return {
            internals: this.options.map(option => {
                if (typeof option.id === "undefined") {
                    throw "id: undefined";
                }
                const {id, title, price, time, forType, count} = option;
                return {id, title, price, time, forType, count};
            })
        }
    },

    methods: {
        updateCount(count, option) {
            this.$set(this.internals, this.internals.findIndex(o => o.id === option.id), {...option, count});
            this.$emit("input", this.internals);
        },
        countById(id) {
            return this.internals.filter(option => option.id === id)[0].count;
        }
    }
}
</script>

<style lang="scss" scoped>
   ul.options-selector {
      list-style: none;
      margin: 45px 0 0;
      padding-left: 0;

      li {
         border-bottom: 1px solid #ccc;

         &:last-child {
            margin-bottom: 0;
            border: none;
         }
      }
   }
</style>
