<template>
   <div class="container bordered mt-3 d-flex justify-content-between">
      <translate text="key.standard.service.equipment"/>
   </div>
</template>

<style lang="scss" scoped>
   @import "~@/assets/scss/mixins.scss";

   $height: 25px;

   .container.bordered {
      @include bottomBorderStyle;
      line-height: $height;

      img {
         height: $height;
         margin-left: 10px;
      }
   }
</style>
