<template>
   <div class="mt-3 mt-md-5">
      <h3>
         <translate>Give us your contact details</translate>
      </h3>
      <div class="container" v-if="!isSend">
         <p>
            <translate>Fill out the form and we will contact you within 24 hours.</translate>
         </p>

         <div class="row">
            <div class="col-12">
               <div class="form-group">
                  <input class="form-control" v-model="name" :placeholder="$t('First and last name')"/>
               </div>
            </div>
            <div class="col-12">
               <div class="form-group">
                  <input class="form-control" v-model="email" :placeholder="$t('E-mail address')"/>
               </div>
            </div>
            <div class="col-12">
               <div class="form-group">
                  <input class="form-control" v-model="phoneNumber" :placeholder="$t('Phone number')"/>
               </div>
            </div>
            <div class="col-12 mt-3">
               <div class="form-group">
                  <textarea class="form-control mb-2" maxlength="250" v-model="otherInformation" :placeholder="$t('Other information')"/>
                  <small>{{otherInformation.length}}/250</small>
               </div>
            </div>
         </div>
         <div class="d-flex flex-end">
            <button class="button-style click-effect" @click="send">
               <span class="effect-group">
                  <translate>Send request</translate>
                  <fa icon="paper-plane"/>
               </span>
            </button>
         </div>
      </div>

      <div class="mt-5 mb-5 text-center" v-else>
         <h3>
            <translate>Thank you for your request!</translate>
         </h3>
         <translate>We will contact you as soon as possible.</translate>
      </div>
   </div>
</template>

<script>
export default {
    data() {
        return {
            isSend: false,
            name: "",
            phoneNumber: "",
            email: "",
            otherInformation: "",
        };
    },

    methods: {
        send() {
            this.$store
                .dispatch('saveContactRequest', {
                    name: this.name,
                    phone: this.phoneNumber,
                    email: this.email,
                    other: this.otherInformation
                })
                .then(() => {
                    this.isSend = true;
                    this.$notify({
                        message: this.$t('Thank you for your request!'),
                        type: "success"
                    });
                })
                .catch(() => {
                    this.$notify({
                        message: this.$t("We couldn't deliver your request. Check your personal details and try again!"),
                        type: "warning"
                    });
                });
        }
    }
}
</script>
