<template>
   <div class="time-correction p-3 mt-4" v-if="canDecrease || canIncrease">
      <h4>
         <translate>Adjust cleaning time</translate>
      </h4>

      <ul class="list-unstyled mb-0 mt-3">
         <li>
            <translate class-name="semicolon-after">Standard time</translate>
            {{base | hour}}h
         </li>

         <li class="d-flex align-center justify-content-between same-line-height">
            <div>
               <translate class-name="semicolon-after">Time correction</translate>
               <translate :params="{minutes: absIncrease}" :text="timeCorrectionText"/>
            </div>

            <span class="buttons not-selectable">
               <fa icon="minus-circle" @click="decrease()" :class="{disabled: !canDecrease}"/>
               <fa icon="plus-circle" @click="increase()" :class="{disabled: !canIncrease}"/>
            </span>
         </li>

         <li>
            <template v-if="value > 0">
               <translate class-name="semicolon-after">Cleaning time</translate>
               {{time | hour}}h
            </template>
         </li>
      </ul>
   </div>
</template>

<script>
export default {
    props: {
        base: {type: Number, required: true},
        value: {type: Number, required: true},
    },

    computed: {
        time() {
            return this.base + this.value;
        },

        absIncrease() {
            return Math.abs(this.value);
        },

        timeCorrectionText() {
            if (this.value < 0) {
                return "{minutes} minutes less";
            }
            return "{minutes} minutes longer";
        },

        canIncrease() {
            if (this.$store.state.serviceAreaStandard === 0) {
                return false;
            }
            return this.base > 0 && this.value < 180;
        },
        canDecrease() {
            if (this.value > 0) {
                return true;
            }
            return this.base > 90 && this.value > -29;
        }
    },

    methods: {
        decrease() {
            if (this.canDecrease) {
                this.modifyPercentage(-30);
            } else {
                if (this.value <= -29) {
                    this.$notify({
                        message: this.$t('Attention') + "!\n" + this.$t('You have already chosen the minimum cleaning time for this area.'),
                        type: "info" // "", "info", "success", "warning", "danger"
                    });
                }
            }
        },
        increase() {
            if (this.canIncrease) {
                this.modifyPercentage(+30);
            } else {
                this.$notify({
                    message: this.$t('Attention') + "!\n" + this.$t('You have reached the maximum allowed time for your area.'),
                    type: "info" // "", "info", "success", "warning", "danger"
                });
            }
        },
        modifyPercentage(change) {
            this.$emit('input', Math.min(Math.max(-30, this.value + change), 600));
        }
    }
}
</script>

<style lang="scss" scoped>
   @import "~@/assets/scss/mixins.scss";

   .time-correction {
      background-color: #fefefe;
      @include bottomBorderStyle;

      h3 {
         margin: 0 0 10px;
      }

      ul li {
         margin-bottom: 1px;
      }

      .same-line-height {
         line-height: 17px;
      }

      $height: 28px;

      .buttons {
         margin-left: 5px;
         white-space: nowrap;
         height: $height;

         svg { // <fa>
            color: white;
            background-color: #29b2ae;
            padding: 1px;
            width: $height;
            height: $height;
            border-radius: $height;
            margin-left: 7px;
            cursor: pointer;
            transition: transform .2s;

            &:not(.disabled) {
               &:hover,
               &:active {
                  opacity: 0.6;
               }

               &:active {
                  transform: translateY(2px);
               }
            }

            &.disabled {
               opacity: 0.3;
               cursor: default;
            }
         }
      }
   }
</style>
