<template>
   <div class="wrapper" :class="{'mobile-navigation-open': $sidebar.showSidebar}">
      <notifications/>

      <side-bar/>

      <form-navigation/>

      <div class="main-panel">
         <form-content :order-summary-visible="orderSummaryVisible"/>

         <content-footer/>
      </div>

      <fixed-summary v-if="orderSummaryVisible"/>
   </div>
</template>

<script>
import SideBar from "./SideBar/SideBar.vue";
import FormNavigation from "./FormNavigation.vue";
import FormContent from "./Content/FormContent";
import ContentFooter from "./Footer/ContentFooter.vue";
import FixedSummary from "./Content/Summary/FixedSummary.vue";

export default {
    components: {SideBar, FormNavigation, FormContent, ContentFooter, FixedSummary},

    computed: {
        orderSummaryVisible() {
            if (this.$route.path === '/') {
                // would be good to move it to Vuex, but we can't access $route there
                return false;
            }
            return this.$store.getters.summaryVisible;
        }
    }
};
</script>
