<template>
   <aside class="d-md-none p-2 p-sm-4" :class="{detailsVisible}">
      <div class="paragon"></div>
      <div class="controls">
         <details-toggle-icon v-model="detailsVisible"/>
      </div>

      <div class="details">
         <order-summary :show-sums="true"/>
      </div>

      <div class="overview d-flex justify-content-around" @click="detailsVisible = !detailsVisible">
         <div :class="{overtime}" v-if="timeVisible">
            {{time | hour}}h
            <fa icon="exclamation-circle" v-if="overtime"/>
         </div>

         <div>
            <fa icon="shopping-cart"/>
            &nbsp;
            {{price}}&nbsp;NOK
         </div>
      </div>
   </aside>
</template>

<script>
import OrderSummary from "./OrderSummary";
import DetailsToggleIcon from "../DetailsToggleIcon";

export default {
    components: {OrderSummary, DetailsToggleIcon},

    data() {
        return {
            detailsVisible: false
        }
    },

    computed: {
        overtime() {
            return this.$store.getters.overtime;
        },
        timeVisible() {
            return this.$store.getters.timeVisible;
        },
        time() {
            return this.$store.getters.timeInMinutes;
        },
        price() {
            return this.$store.getters.price;
        },
    }
}
</script>


<style lang="scss" scoped>
   $detailsMaxHeight: 570px;
   $overviewMaxHeight: 30px;

   aside {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 0 20px 0 #c4c4c4;
      max-height: 100vh;
      z-index: 15;

      .paragon {
         content: '';
         display: block;
         position: absolute;
         z-index: 1;
         left: 0;
         top: -9px;
         height: 10px;
         width: 100vw;
         $primaryColor: white;
         $trans: rgba(0,0,0,0);
         background-image: linear-gradient(45deg, $primaryColor 33.333%, $trans 33.333%, $trans 66.667%, $primaryColor 66.667%),
         linear-gradient(-45deg, $primaryColor 33.333%, $trans 33.333%, $trans 66.667%, $primaryColor 66.667%);
         background-size: 11px 40px;
         background-position: 50% -21px;
         background-repeat: repeat-x;
      }

      .controls {
         text-align: right;
         color: #606060;
         height: 0;
         font-size: 1.4em;
         cursor: pointer;
      }

      .details {
         max-height: 0;
         transition: max-height .3s;
         overflow: hidden;
      }

      .overview {
         text-align: center;
         cursor: pointer;
         width: calc(100% - 24px);
         font-size: 18px;
         color: #00a1a2;
         font-weight: 400;
         max-height: $overviewMaxHeight;
         overflow: hidden;
         transition: max-height .3s;
      }

      &.detailsVisible {
         .details {
            max-height: $detailsMaxHeight;
         }

         .overview {
            max-height: 0;
         }
      }

      .overtime {
         color: #d46262;
      }
   }
</style>
