<template>
   <span v-text="translatedText" :class="className"/>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: null
        },
        className: {
            type: String,
            default: null
        },
        params: {
            type: Object,
            default: () => {
            }
        }
    },

    computed: {
        translatedText() {
            const getKey = () => {
                if (this.text === null) {
                    const defaultSlots = this.$slots.default;
                    if (typeof defaultSlots !== 'undefined') {
                        return defaultSlots[0].text.trim();
                    }
                    console.error('<translate> component without slot or :text property!');
                }
                return this.text;
            };

            return this.$t(getKey(), this.params);
        },
    }
}
</script>
